.container
  .row.my-5
    .tituloPrincipal.col-12
      .tituloPrincipal__txt
        h2 4. Manejo del cadáver confirmado y sospechoso por COVID–19 en casa.
      .tituloPrincipal__icono
  
  .row.my-5.justify-content-center.my-5
    .col-10
      .card#que_es_ts
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/l6Ja8BpkR8E', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .card-body.mt-0
          p.mb-0 #[strong Embalaje en la unidad hospitalaria]           
  

  .row
    .col-12
      .text-hero.text-hero--arrow-bottom.text-center
        h3 Ruta informativa para el manejo del fallecido por COVID-19 en casa    


  .row.justify-content-center
    .col-sm-12.col-md-9  
      .img-container    
        figure
          img(src="images/4.0_manejoCadaver/Unidad_Reaccion_Inmediata.svg", alt="")
  .row.my-5
    .col-12   
      p Ruta de atención para manejo y traslado de fallecido por COVID-19 en casa, de acuerdo con las Orientaciones para el manejo, traslado y disposición final de cadáveres por COVID-19, expedida por el Ministerio de Salud y Protección Social:

  .row.align-items-center.justify-content-center
    .card-txt.col-md-12   
      .card-txt__body       
        p.card-txt__body__copy “En caso de que ocurra un deceso en casa que no haya recibido atención médica, del cual la autoridad sanitaria tenga conocimiento sobre la existencia de enfermedad precedente compatible con infección respiratoria no determinada, o antecedentes de viaje a zonas con circulación activa del virus, o contacto con un caso probable o confirmado de infección por COVID-19, deberá coordinar con la EAPB para que esta asigne el equipo de salud para desplazarse al domicilio, garantizando a través de autopsia verbal la documentación de las circunstancias que rodearon el deceso, establecer las posibles causas de muerte, así como la respectiva toma de muestras que sean procedentes y la remisión inmediata al Laboratorio de Salud Pública, la emisión del certificado de defunción y embalaje del cadáver para entrega al servicio funerario evitando así el traslado del cadáver al prestador de servicios de salud o al sistema judicial 
          strong
            |(artículo 2.8.9.7 del Decreto 780 de 2016).”
    
  .row.my-5
    .tituloSecundario.col-12
      .tituloSecundario__txt.text-center
        h3 Direccionamiento a la población sobre el manejo del cuerpo del fallecido por COVID-19 en casa.

  .row.justify-content-center.my-5
    .col-sm-12.col-md-8.col-xl-7
      .img-container       
        figure
          img(src="images/4.0_manejoCadaver/direccionamiento_poblacion.svg", alt="")  
           
